.icon-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'hgl-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stats-dots:before {
  content: "\e600";
}
.icon-bookmark:before {
  content: "\e601";
}
.icon-hipster:before {
  content: "\e602";
}
.icon-unlocked:before {
  content: "\e603";
}
.icon-user-tie:before {
  content: "\e604";
}
.icon-briefcase:before {
  content: "\e605";
}
.icon-star-full:before {
  content: "\e606";
}
.icon-calendar:before {
  content: "\e607";
}
.icon-user:before {
  content: "\e608";
}
.icon-arrow-right:before {
  content: "\e609";
}
.icon-drop:before {
  content: "\e60a";
}
.icon-facebook:before {
  content: "\e60b";
}
.icon-flame:before {
  content: "\e60c";
}
.icon-instagram:before {
  content: "\e60d";
}
.icon-mail:before {
  content: "\e60e";
}
.icon-paint:before {
  content: "\e60f";
}
.icon-pencil:before {
  content: "\e610";
}
.icon-phone:before {
  content: "\e611";
}
.icon-pin:before {
  content: "\e612";
}
.icon-reload:before {
  content: "\e613";
}
.icon-sound:before {
  content: "\e614";
}
.icon-store:before {
  content: "\e615";
}
.icon-tool:before {
  content: "\e616";
}
.icon-twitter:before {
  content: "\e617";
}
.icon-user-white:before {
  content: "\e618";
}
.icon-tools:before {
  content: "\e619";
}
.icon-help:before {
  content: "\e941";
}
.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
