.grid{
	@extend %grid;
}

.grid--wide{
  @extend %grid--wide;
}

.grid--middle{
  @extend %grid--middle;
}

.grid__item{
	@extend %grid__item;
}

.small--one-half{
	@extend %small--one-half;
}

.medium--one-half{
  @extend %medium--one-half;
}

.one-half{
  @extend %one-half;
}

.small--one-third{
  @extend %small--one-third;
}

.small--two-thirds{
  @extend %small--two-thirds;
}

.medium--two-thirds{
  @extend %medium--two-thirds;
}

.medium--one-third{
  @extend %medium--one-third;
}

.two-thirds{
  @extend %two-thirds;
}

.border--small{
  position: relative;
  &:after{
    content: "";
    width: 36px;
    display: block;
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
    border-top: 2px solid $color-brand;

  }
}

.border--small--default{
  &:after{
    border-color: inherit;
  }
}

.border--small--center{
  &:after{
    margin-left: auto;
    margin-right: auto;
  }
}


.flexslider{
  overflow: hidden;
}

.sticky-wrapper{
  position: absolute;
  bottom: 0;
  width: 100%;
  @media #{$medium} {
    height: 97px;
  }
}

.personal-grid__item{
  padding: 0 em($base-spacing-unit);
}

.personal-grid__text{
  font-size: em($font-size-small);
  text-align: center;
}

$box-height:      300px;
$transform:       ($box-height / 2) - (($font-size-h3 + $line-height-large) / 2 + $base-spacing-unit);

.color-grid__item{
  min-height: $box-height;
  color: white;
  padding: $base-spacing-unit;
  margin-bottom: $base-spacing-unit;
  &.color1{
    background-color: #2c2a26;
  }
  &.color2{
    background-color: #e83327;
  }
  &.color3{
    background-color: #1369b4;
  }
  &.color4{
    background-color: #e95a36;
  }
}

.color-grid__title{
  color: white;
  margin-top: 0;
  font-size: em($font-size-h3);
  text-align: center;
  transition: all 0.25s ease-in;
  .touch &{
    font-size: em($font-size-h5);
  }
}

.color-grid__text{
  margin-bottom: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.2s ease-out;
  .touch &{
    opacity: 1;
    transform: translateY(0);
  }
}

.no-touch{
  .color-grid__title{
    transform: translateY($transform);
  }
  .color-grid__item:hover{
    .color-grid__title{
      transform: translateY(0);
      font-size: em($font-size-h5);
    }
    .color-grid__text{
      opacity: 1;
      transform: translateY(0);
    }
  }
}