.main-header{
	background-color: transparent;
	width: 100%;
	padding: $half-spacing-unit 0;
	position: absolute;
	z-index: 2;
	@media #{$small} {
		padding: $base-spacing-unit 0;
	}
}

.header--index{
	background-color: rgba(white, 0.09);
	bottom: 0;
}

