.main-header{
	background-color: transparent;
	width: 100%;
	padding: $half-spacing-unit 0;
	position: absolute;
	z-index: 2;
	@media #{$small} {
		padding: $base-spacing-unit 0;
	}
}

.header--index{
	background-color: rgba(white, 0.09);
	bottom: 0;
}

.header-container{
	@extend %grid;
	@extend %grid--middle;
}

.header__logo-area,
.header__navigation-area{
	@extend %grid__item;
}

.header__navigation-area{
	@extend %one-whole;
}
