.main-header{
	background-color: transparent;
	width: 100%;
	padding: $half-spacing-unit 0;
	z-index: 2;
}

.header--index{
	background-color: black;
	background-color: rgba(black, 0.5);
	bottom: 0;
	position: absolute;
	z-index: 99;
	transition: all 0.3s ease-in 0.1s;
	&.stuck {
		background-color: white;
	 	position:fixed;
	  	top:0;
	  	height: 97px;
	  	box-shadow: 0 2px 2px #ddd;
	  	*{
	  		color: $gray !important;
	  	}
	}
	@media #{$medium} {
		height: 97px;
	}
}

