.pane{
	padding: $base-spacing-unit 0;
	&.bg-lighter-gray,
	&.bg-brand{
		border-width: 1px 0;
		border-style: solid;
		border-color: transparent;
	}
	&.bg-lighter-gray{
		border-color: darken($gray-lighter, 10%);
	}
	&.bg-brand{
		border-color: darken($color-brand, 5%);
	}
	&.no-border{
		border: 0;
	}
}

.bg-lighter-gray{
	background-color: $gray-lighter;
}

.bg-brand{
	background-color: $color-brand;
	color: #7B6C17;
}

.pane--large{
	@media #{$small} {
		padding: $base-spacing-unit * 4 0;
	}
}

.pane--medium{
	@media #{$small} {
		padding: $base-spacing-unit * 3 0;
	}
}

.pane--small{
	padding: $base-spacing-unit * 2 0;
}

.pane--spaces{
	@extend .pane--large;
	color: $gray;
	@media #{$small} {
		padding: $base-spacing-unit * 3 0;
	}
}

.shade--light{
	background-color: $gray-lighter;
}

.shade--dark{
	background-color: #e6e6e6;
}

.shade--darker{
	background-color: #4A4A4A;
	background-color: rgba(#4A4A4A, 0.80);
}

.pane--panels{
	@extend .pane--large;
}
.pane--panels__image img{
	display: none;
	@media #{$medium} {
		display: block;
	}
}
.pane--panel__body{
	@media #{$medium} {
		padding-right: $base-spacing-unit * 4;
	}
	@media #{$large} {
		padding-right: $base-spacing-unit * 15;
	}
}

.pane--map{
	padding: 0;
	height: 450px;
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.about-us__text{
	max-width: 760px;
	margin: auto;
}